[defaults]
inventory = {{ eda_install_dir }}/hosts
roles_path = {{ eda_install_dir }}/.ansible/roles
collections_path = {{ eda_install_dir }}/.ansible/collections
local_tmp = {{ eda_install_dir }}/.ansible/tmp
remote_tmp = {{ eda_install_dir }}/.ansible/tmp
